<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="addtask.css">
</head>

<body>
  <%- include('common/common')%>

    <div>
      <h2 class="h2">Welcome , <%=idname.name%></h2>
      
    </div>
    <%let items=[];%>
      <%let itemprice=[];%>
        <%let itemstock=[];%>
          <%let date=new Date();%>


            <form action="/taskpagedata" method="post">

              <h2>Customer-Detail Form</h2>
              <label for="customerid">Customer-Id:</label>
              <input type="text" name="customerid" id="customerid" value=AB<%=idname.id%> required>
              <label for="customername">Customer-Name:</label>
              <input type="text" name="customername" id="customername" required>
              <label for="email">E-mail:</label>
              <input type="text" name="email" id="email" required>
              <label for="productname">Product-Name:</label>
              <!-- <input type="text" name="productname" id="productname"  required> -->
              <select name="productname" id="productname" required>
                <option>Select an Item</option>
                <%idname.itemarray.forEach((el)=>{%>
                  <%for(let i in el){%>
                    <%if(i=="itemname" ){%>
                      <option>
                        <%=el[i]%>
                      </option>
                      <%items.push(el[i]);%>
                        <%}else if(i=="quantity" ){%>
                          <%itemstock.push(el[i]);%>
                            <%}else if(i=="sellingprice" ){%>
                              <%itemprice.push(el[i]);%>
                                <%}%>
                                  <%}%>
                                    <%})%>
              </select>
              <label for="Purchase-Date">Purchase-Date:</label>
              <input type="date" name="Purchase-Date" id="purchasedate" required>
              <label for="productprice">Price:</label>
              <input type="number" name="productprice" id="productprice" required>
              <label for="quantity">Qantity:</label>
              <input type="number" name="quantity" id="quantity" required>
              <p style="display: none;"> Currentlt ! Out Of Stock</p>
              <label for="paymentmode">Payment-Mode:</label>
              <select name="paymentmode" id="paymentmode">
                <option value="online" name="online">Online</option>
                <option value="cash" name="cash">Cash</option>
              </select>
              <button type="submit">Add Data</button>

            </form>

            <script>
              const itemname = <% - JSON.stringify(items) %>;
              const itemprice = <% - JSON.stringify(itemprice) %>;
              const itemstock = <% - JSON.stringify(itemstock) %>;
              let item = document.querySelector("#productname");
              if (item.value == "Select an Item") {
                let p = document.querySelector("p");
                let btn = document.querySelector("button");
                let inp = document.querySelector("#quantity");

                inp.setAttribute("placeholder", "Please Select An Item");
                inp.setAttribute("disabled", "true");
                btn.setAttribute("disabled", "true");

              }
              else {
              }
              item.addEventListener("change", function () {

                let index = parseInt(itemname.indexOf(this.value));
                console.log((index));
                let productprice = document.querySelector("#productprice");
                let quantity = document.querySelector("#quantity");
                let price = itemprice[index] || 0;
                let finalitemstock = parseInt(itemstock[index]) || 0;

                let btn = document.querySelector("button");
                productprice.setAttribute("value", price);
                quantity.setAttribute("placeholder", `Available Stock - ${finalitemstock}`);
                if (finalitemstock <= 0) {
                  quantity.setAttribute("placeholder", `Stock Not Available`);
                  quantity.setAttribute("disabled", "true");
                  btn.setAttribute("disabled", "true");
                }
                else {
                  quantity.removeAttribute("disabled");
                  btn.removeAttribute("disabled");
                }
                quantity.addEventListener("input", function () {
                  console.log(this.value);
                  let val = parseInt(this.value);
                  let p = document.querySelector("p");
                  if (this.value > finalitemstock) {
                    btn.setAttribute("disabled", "true");
                    p.style.display = "block";
                  }
                  else {
                    btn.removeAttribute("disabled");
                    p.style.display = "none";
                  }
                });

              });

            </script>

</body>

</html>