<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="icon" href="Retail Store Management System.png" type="image/png">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <%- include('common/common')%>
    <form action="/logindata" method="post">
        <h2>Login Form</h2>
        <label for="username">UserName / email:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password : </label>
        <input type="text" name="password" id="password">
        <a href="/signup">Not Registered ! signup</a>
        <button type="submit">Log In</button>
    </form>
</body>
</html>