<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" href="Retail Store Management System.png" type="image/png">
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <%- include('common/common')%>
    <form action="/signupdata" method="post">
        <h2>Signup Form</h2>
        <label for="name">Name :</label>
        <input type="text" name="name" id="name" required>
        <label for="email">E-mail :</label>
        <input type="email" name="email" id="email" required>
        <label for="username">UserName :</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password : </label>
        <input type="text" name="password" id="password" required>
        <label for="storename">Store-Name: </label>
        <input type="text" name="storename" id="storename" required>
        <a href="/login">Already Registered ! Log In</a>
        <button type="submit">Sign Up</button>
    </form>
    
</body>

</html>