*
{
    margin: 0;
    padding: 0;
}

nav {
 display: flex;
 gap: 30px;
 background:#2ecc71;
 justify-content: end;
 align-items: center;
 width: 90%;
 position: fixed;
 padding: 10px;
 left: 4%;
 border-radius: 15px;
 top: 2%;
 z-index: 10;
}
nav a
{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    
}

/* for the responsive */
.nav
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.a 
{
    display: inline-block;
    text-decoration: none;
}
nav i
{
    color: aliceblue;
}
/* 
.................. */
nav a:nth-child(5)
{
   
    margin-right: 2%;
}
nav a:hover
{
   color: blue;
    transform: scale(1.1);
}
nav i
{
    margin-right:3% ;
    padding: 10px;
}
@media   (min-width:425px) and (max-width:767px) {
    nav{
        gap: 1%;
    }
}
@media (max-width:466px) {
    nav a
    {
        display: none;
    }
    nav
    {
        position: fixed;
    }
}
@media (min-width:466px) {
    nav a
    {
        display: inline-block;    
    }
    #nav {
       
        flex-direction: row;
        
        justify-content: end;
        align-items: center;
      
       }
    nav i
    {
     font-size: 0px;
     padding-right: 0px;
     color: white !important;
     display: none !important;
    }
}
